[submodule "data/ugnt"]
	path = data/ugnt
	url = https://git.door43.org/unfoldingWord/el-x-koine_ugnt.git
[submodule "data/uhb"]
	path = data/uhb
	url = https://git.door43.org/unfoldingWord/hbo_uhb.git
[submodule "data/ult"]
	path = data/ult
	url = https://git.door43.org/unfoldingWord/en_ult.git
[submodule "data/greek-lexicon"]
	path = data/greek-lexicon
	url = https://git.door43.org/unfoldingWord/en_ugl.git
[submodule "data/hebrew-lexicon"]
	path = data/hebrew-lexicon
	url = https://git.door43.org/unfoldingWord/en_uhal.git
